.wrapper {
  display: flex;
  max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		
		padding-left: 2em;
		padding-right: 2em;
 
  @include breakpoint(x-large) {
    padding-left: 0;
    padding-right: 0;
    
  }
		
}