//----------------------------------
// BACKGROUND IMAGES
//----------------------------------
$cover-background: "./assets/images/cover-background.jpg";
$card-background-australia: "./assets/images/card-australia.jpg";
$card-background-south-america: "./assets/images/card-background-south-america.jpg";
$card-background-north-america: "./assets/images/card-background-north-america.jpg";
$card-background-europe: "./assets/images/card-background-europe.jpg";

//----------------------------------
// BACKGROUND COLORS
//----------------------------------
$light-gray: #eeeeee;

//----------------------------------
// FONT COLORS
//----------------------------------
$title-color: #323232;

//----------------------------------
// BREAKPOINTS
//----------------------------------
$breakpoint-x-small: 575.99px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-x-large: 1200px;