.footer {
		padding-top: 2em;
		padding-bottom: 2em;
  background-color: $light-gray;
  
  &-wrapper { 
    justify-content: space-between;
    flex-direction: column;

    @include breakpoint(large) {
      flex-direction: row;	
    }
  }
  
  &-credits {
  		float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: #8b8b8b;
    
    @include breakpoint(large) {
      float: initial;
    }
  }
  
  &-navigation {
    display: none;
    
    @include breakpoint(large) {
    	 display: block;
      float: right;	
    }
  }
}