.header {
	 position: relative;
  padding-top: 30px;
  
  &-wrapper {
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  &-icon {
    fill: white;
  }
  
  &-title {
  	 position: relative;
  	 display: inline-block;
  	 top: -2px;
  	 margin-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: white;
  }
}

