.search {
  padding-top: 10em;
  padding-bottom: 12em;
  
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &-slogan {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    color: white;
    
    @include breakpoint(large) {
      font-size: 3.5em;	
    }
  }
  
  &-form {
    width: 300px;
    margin-top: 2em;
    
    @include breakpoint(large) {
      width: 450px;	
    }
  }
  
  &-input {
    float: left;
    width: 72%;
  }
  
  &-text-area {
    width: calc(100% - 1em); 
    padding-left: 1em; 
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 2.5em;
    border: none;
  }
  
  &-button {
    width: 27%;
    text-align: center;
	   padding-top: 0;
	   padding-bottom: 0;
	   background-color: #fd4f32;
	   font-size: 1em;
	   font-family: 'Open Sans', sans-serif;
	   font-weight: 700;
	   color: white;
	   line-height: 2.5em;
	   border: none;
  }
}